name: Example Tests

on:
  workflow_dispatch:
  pull_request:

jobs:
  acceptance-test-msbuild:
    runs-on: windows-2022
    strategy:
      matrix:
        test_suite:
          - name: OutProc
            path: outproc
          - name: 32 Bit
            path: 32bit
          - name: C++/CLI
            path: cppcli

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: matherm-aboehm/setup-dotnet@verbose-with-pr538
        with:
          dotnet-version: |
            6.0
            8.0
            10.0
          global-json-file: global.json
      - name: Set x86 install dir
        run: echo "DOTNET_INSTALL_DIR=${env:ProgramFiles(x86)}\dotnet" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
      - name: Setup .NET (x86)
        uses: matherm-aboehm/setup-dotnet@verbose-with-pr538
        with:
          dotnet-version: |
            6.0
            8.0
            10.0
          global-json-file: global.json
        env:
          PROCESSOR_ARCHITECTURE: x86

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release

      - uses: ilammy/msvc-dev-cmd@v1
        if: ${{ matrix.test_suite.path == 'cppcli' }}

      - name: Run ${{ matrix.test_suite.Name }} Acceptance test
        run: .\msbuild-acceptance-test.cmd
        working-directory: .\examples\${{ matrix.test_suite.path }}\scripts
        continue-on-error: false
        id: test

      - name: Upload artifact
        if: ${{failure() && steps.test.conclusion == 'failure'}}
        uses: actions/upload-artifact@v4
        with:
          name: logs
          path: .\examples\${{ matrix.test_suite.path }}\logs